In [8]:
#Diberikan list berikut:
#buah = ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
#a. Tambahkan 'semangka' di akhir list
#b. Sisipkan 'durian' di antara 'jeruk' dan 'anggur'
#c. Hapus 'mangga' dari list
#d. Ubah 'pisang' menjadi 'nanas'
#e. Tampilkan 3 buah pertama

#a. tambahkan "semangka" di akhir list
buah = ["apel", "mangga", "jeruk", "anggur", "pisang"]
buah.append("semangka")
print(f"data sesudah ditambah = \n{buah}")

#b. Sisipkan 'durian' di antara 'jeruk' dan 'anggur'
buah.insert(3,"durian")
print(f"data sesudah ditambah = \n{buah}")

#c. Hapus 'mangga' dari list
buah.remove("mangga")
print(f"data setelah dihapus = \n{buah}")

#d. Ubah 'pisang' menjadi 'nanas'
buah[4] = "nanas"
print(f"data sesudah diubah = \n{buah}")

#e. Tampilkan 3 buah pertama
tiga_buah_pertama = buah[:3]
print(f"tiga buah pertama \n{tiga_buah_pertama}")

data sesudah ditambah =
['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']
data sesudah ditambah =
['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
data setelah dihapus =
['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
data sesudah diubah =
['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']
tiga buah pertama
['apel', 'jeruk', 'durian']

In [11]:
#Diberikan list berikut:
#angka = [45, 12, 78, 23, 56, 89, 34]
#a. Urutkan list secara ascending (dari yang terkecil)
#b. Urutkan list secara descending (dari yang terbesar)

#a. urutkan list secara ascending
data = [45, 12, 78, 23, 56, 89, 34]
data.sort()
print(f"urutan data secara ascending = \n{data}")

#b. Urutkan list secara descending (dari yang terbesar)
data.reverse()
print(f"urutan data secara descending = \n{data}")

urutan data secara ascending =
[12, 23, 34, 45, 56, 78, 89]
urutan data secara descending =
[89, 78, 56, 45, 34, 23, 12]